<a href="https://colab.research.google.com/github/waraporn19/KKU_data_mining/blob/master/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
path = '/content/drive/My Drive/DM_2020'

In [6]:
import os
import pandas

In [25]:
Import= os.path.join(path,'Im_a1.csv')  #สร้างที่อยู่โดยใช้ os.path.join
Export= os.path.join(path,'EX_a1.csv')

In [41]:
Import_df = pandas.read_csv(Import)
Import_df.head()

     Country   ...  Import other animal feed
0   Australia  ...                         1
1  Bangladesh  ...                         1
2     Belgium  ...                         1
3      Brazil  ...                         1
4    Cambodia  ...                         1

[5 rows x 6 columns]

In [42]:
Export_df = pandas.read_csv(Export) 
Export_df.head()

      Country  ...  Export of aquatic animal feed
0   Australia  ...                              0
1  Bangladesh  ...                              1
2     Belgium  ...                              1
3      Brazil  ...                              1
4    Cambodia  ...                              0

[5 rows x 9 columns]

In [46]:
Import_df['Export of fish meal']

KeyError: ignored

In [ ]:
merged_table = Import_df.merge(Export_df,how='left',left_on='Country',right_on='Country')
merged_table

In [48]:
d1 = pandas.merge(Import_df,Export_df,left_on='Country',right_on='Country',how='left')

KeyError: ignored

In [37]:
Import_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(36, 6)

In [29]:
Export_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(36, 9)

#Missing Values ค่าผิดปกติ เช็คดูว่าตารางเรามี missing

In [30]:
Import_df.isnull() # .isnull ดูว่าแต่ละช่องในตารางมีช่องว่างรึป่าว

     Country   ...  Import other animal feed
0       False  ...                     False
1       False  ...                     False
2       False  ...                     False
3       False  ...                     False
4       False  ...                     False
5       False  ...                     False
6       False  ...                     False
7       False  ...                     False
8       False  ...                     False
9       False  ...                     False
10      False  ...                     False
11      False  ...                     False
12      False  ...                     False
13      False  ...                     False
14      False  ...                     False
15      False  ...                     False
16      False  ...                     False
17      False  ...                     False
18      False  ...                     False
19      False  ...                     False
20      False  ...                     False
21      False  ...                     False
22      False  ...                     False
23      False  ...                     False
24      False  ...                     False
25      False  ...                     False
26      False  ...                     False
27      False  ...                     False
28      False  ...                     False
29      False  ...                     False
30      False  ...                     False
31      False  ...                     False
32      False  ...                     False
33      False  ...                     False
34      False  ...                     False
35      False  ...                     False

[36 rows x 6 columns]

In [31]:
Export_df.isnull().any()

Country                                    False
Export of fish meal                        False
Export of dog and cat food                 False
Export other animal feed                   False
Export of pet supplement                   False
Export premix                              False
Export of canned food for dogs and cats    False
Export Dog Chews                           False
Export of aquatic animal feed              False
dtype: bool

In [38]:
merged_table = Import_df.merge(Export_df,how='left',left_on='Country',right_on='Country')
merged_table

KeyError: ignored

In [32]:
# คำสั่ง pandas.concat นำตารางมารวมกัน ต่อกันในแนวแกน Y (ต่อด้านล่าง)
pd_concat = pandas.concat([Import_df,Export_df])
pd_concat

      Country   ...  Export of aquatic animal feed
0    Australia  ...                            NaN
1   Bangladesh  ...                            NaN
2      Belgium  ...                            NaN
3       Brazil  ...                            NaN
4     Cambodia  ...                            NaN
..         ...  ...                            ...
31         NaN  ...                            0.0
32         NaN  ...                            0.0
33         NaN  ...                            0.0
34         NaN  ...                            1.0
35         NaN  ...                            0.0

[72 rows x 15 columns]